<h1> All your groups </h1>

<%@groups.each do |group|%>
        <table style="width:100%">
        <tr>
            <td>Group name: </td>
            <td><%=group.name%></td>
        </tr>
        </table>
    <hr/>
<%end%>